<!DOCTYPE html>
<html lang="en">

<!-- doccure/login  30 Nov 2019 04:12:20 GMT -->

<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="https:/cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>

<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
								<span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </a>
                    <a href="/index-2" class="navbar-brand logo">
                        <img src="img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/index-2" class="menu-logo">
                            <img src="img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li>
                            <a href="/index-2">Home</a>
                        </li>


                        <!-- <li class="has-submenu active">
                            <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/voice-call">Voice Call</a></li>
                                <li><a href="/video-call">Video Call</a></li>
                                <li><a href="/search">Search Doctors</a></li>
                                <li><a href="/calendar">Calendar</a></li>
                                <li><a href="/components">Components</a></li>
                                <li class="has-submenu">
                                    <a href="/invoices">Invoices</a>
                                    <ul class="submenu">
                                        <li><a href="/invoices">Invoices</a></li>
                                        <li><a href="/invoice-view">Invoice View</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blank-page">Starter Page</a></li>
                                <li class="active"><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/forgot-password">Forgot Password</a></li>
                            </ul>
                        </li> -->
                        <li>
                            <a href="/admin/login" target="_blank">Admin</a>
                        </li>
                        <li class="login-link">
                            <a href="/login">Login / Signup</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header"> +1 315 369 5943</p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="/login">login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            <div class=" first" style="background-color: lightpink;">
                <div class="content">
                    <div class=" heading">
                        "Skip The Travel!"
                        <br>
                        <h1>Take Online Doctor consulation</h1>
                    </div>
                    <p class="description">Private consultation + Audio call · Starts at just
                        <!-- -->
                        <!-- -->₹199</p>

                    <a class="link primary-button cta" href="/consult/direct/new_consultation">Consult Now</a>
                    <div class="additional-value-prop"><i class="icon-ic_awards"></i>
                        <p>Verified Doctors</p><i class="icon_prescription"></i>
                        <p>Digital Prescription</p><i class="icon-ic_message"></i>
                        <p>Free Followup</p>
                    </div>
                </div>
            </div>
            <style>
                .heading {
                    font-size: 24px;
                    box-sizing: inherit;
                    font-weight: 700;
                    line-height: 1.42;
                    margin-left: 140px;
                    margin-top: 40px;
                    border: 0;
                    vertical-align: baseline;
                    padding: 32px 16px 0;
                    color: #2d2d32;
                    position: relative;
                    font-family: Camphor, sans-serif;
                }
                
                .description {
                    margin-top: -10px;
                    margin-left: 160px;
                    margin-bottom: 50px;
                    font-size: 20px;
                    font-weight: 300;
                    font-family: Camphor, sans-serif;
                }
                
                .instant-doctors-card {
                    margin-top: 13px;
                }
            </style>

        </section>