<footer class="footer lscreen" style="background-color:#478e8e !important;">

    <!-- Footer Top -->
    <div class="footer-top" style="border-bottom:none !important;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="<%=assetPath('img/aalogo.png')%>" style="height:90px;width:250px;" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>India's First Online Book Appointments for Doctor with Live Patient Tracking System. </p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                            <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                            <li><a href="/doctors"><i class="fas fa-angle-double-right"></i> Booking</a></li>
                            <li><a href="/patient-dashboard"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a href="/appointments"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                            <!-- <li><a href="/chat"><i class="fas fa-angle-double-right"></i> Chat</a></li> -->
                            <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                            <li><a href="/staff-login-page"><i class="fas fa-angle-double-right"></i>Staff Login</a></li>
                            <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                            <li><a href="/doctor-dashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                            <li><a href="/customer_service"><i class="fas fa-angle-double-right"></i> Customer Service</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> Dumka,Jharkhand<br> India 814101 </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i> +91 9304685471
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i> support@aarogyahub.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright" style="border-top: none !important;">
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu text-center">
                                <li><a href="/term-condition">Terms and Conditions</a></li>
                                <li><a href="/privacy-policy">Policy</a></li>
                                <li><a>Copyright © 2020 Aarogyahub - All Rights Reserved.</a></li>

                            </ul>

                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>

<footer class="footer sscreen" style="background-color:#478e8e !important;">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="<%=assetPath('img/aalogo.png')%>" style="height:90px;width:250px;" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>India's First Online Book Appointments for Doctor with Live Patient Tracking System. </p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>
                <div style="display: inline-flex;width: 100%;">
                    <div class="col-lg-3 col-md-6" style="width: 50%;">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Patients</h2>
                            <ul>

                                <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                <li><a href="/staff-login-page"><i class="fas fa-angle-double-right"></i>Staff Login</a></li>
                                <li><a href="/booking"><i class="fas fa-angle-double-right"></i> Booking</a></li>
                                <li><a href="/patient-dashboard"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6" style="width: 50%;">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Doctors</h2>
                            <ul>
                                <li><a href="/appointments"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                <li><a href="/doctor-dashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>
                </div>

                <div class="col-lg-3 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> Dumka,Jharkhand<br> India 814101 </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i> +91 9304685471
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i> support@aarogyahub.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright" style="border-top: none !important;">
                <div class="row">

                    <div class="col-md-6 col-lg-6">

                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="/term-condition">Terms and Conditions</a></li>
                                <li><a href="/privacy-policy">Policy</a></li>
                            </ul>
                            <ul class="policy-menu">
                                <li style="color:white !important">Copyright © 2020 Aarogyahub - All Rights Reserved.</li>

                            </ul>
                        </div>
                        <!-- /Copyright Menu -->

                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>