<html>

<head>
    <title>
        <%=title%>
    </title>
    <title>
        Aarogyahub | Video Consultation with Doctors, Book Doctor Appointments, Order Medicine, Diagnostic Tests
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1">
    <meta name="google-site-verification" content="dSPhjk_Q5udwfTzxTGDIA_-MzNbh6fFBcwf47_Emy2E" />

   
    <meta name="theme-color" content="#478e8e">
    <meta name="description" content="Doctors online in Dumka,Doctors in Dumka">
    <meta name="descripation" content="Gerneral physician,General surgeon,Ladies doctor,child doctor">
    <meta name="Keywords" content="Aarogyahub,aarogya hub,healthcare doctors,">
    <link href="img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">


    <!-- Bootstrap core CSS -->
    <!-- Bootstrap CSS -->

   

</head>

<body>
  
        <%-body%>

</body>

</html>