<!DOCTYPE html>
<html lang="en">

<!-- doccure/  30 Nov 2019 04:11:34 GMT -->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>AarogyaHub</title>

    <!-- Favicons-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
      
        <!-- /Header -->
        <div class=" col-md-12 lip-search" style=" height: 100px; border-bottom: 1px solid black;">
            <div class="col-md-8" style="border: 1px solid black; height: 50px; margin-top: 35px;position: relative; display: inline-flex;">
                <div class="col-md-4" style="height: 100%;">
                    <input type="text" placeholder="enter the city name" style="padding: 10px;">

                </div>
            </div>
        </div>
        <div class="col-md-12 lipid profile" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 lipid-nav" style="display: inline-flex;top: 6px;
                    left: 38px;">
                        <p class="lip-dig underline-on-hover" style="cursor: pointer; "><a href="/" style="color: #b4b4be;">AarogyaHub</a></p>
                        <p><span><i class="fa fa-chevron-right"  style="padding-left: 6px; padding-top: 2px; color: #b4b4be;" aria-hidden="true"></i></span>
                            <spna class=" lip-Dig underline-on-hover" style="cursor: pointer; "><a href="/" style="color: #b4b4be;">Diagonistics</a></spna>
                        </p>
                        <p><span><i class="fa fa-chevron-right"  style="padding-left: 6px; padding-top: 2px; color: #b4b4be;" aria-hidden="true"></i></span>
                            <spna style="color: #b4b4be;">Test</spna>
                        </p>


                    </div>
                </div>
            </div>
            <div class="col-md-12" style="height: 600px; display:inline-flex">
                <div class="col-md-3" style=" height:35%; left: 20px;">
                    <a href="/"><img src="/img/patients/health2.jfif" style="width: 100%;height: 100%;"></a>

                </div>
                <div class="col-md-5" style="height: 100%; left: 20px">
                    <div class="lip-heading">
                        <h2>Malarial Profile Test</h2>
                        <p>Also known as Malarial Test</p>
                    </div>
                    <div class="certi" style="display: inline-flex;">
                        <div class="certi-logo" style="margin-left: -4px;">
                            <img src="/img/patients/certi2.png" style="height: 37px;">
                        </div>
                        <div class="certi-heading">
                            <h4 style="font-weight: 800; margin-top: 11px; margin-left: 6px;">Certified Labs</h4>
                        </div>
                    </div>
                    <div class="lip-sec" style="margin-left: -42px;">
                        <ul class="lip-ul" style="list-style:none">
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> <span style="line-height: 30px; margin-left:10px;">Free Home Sample Pickup
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:10px;"> E-Reports on next day
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:10px;"> 100% Secured with Accuracy
                            </span</li>                    
                        </ul>
                    </div>
                    <div class=" col-md-12 lip-block" style="height: 60px;position: relative; display: inline-flex; border-top: 1px solid black; border-bottom: 1px solid black;">
                        <div class="lips-price" style="margin-left: -7px;" >
                            <h3 style="margin-top: 13px;margin-left: 0px;">₹ 400</h3>
                            <p style="margin-top:-12px; margin-left:-2px"><span style="margin-left: 2px; color: #558B2F">+</span><span style="color: #558B2F">10% Health Cashback*</span> </p>
                    </div>
                    <div class="lip-add" style="border: 1px solid black; height: 39px;width: 109px;left: 303px;
                    margin-top: 13px;
                    border-radius: 3px;position: absolute;">
                        <h4 style="text-align: center; padding-top: 7px;">Add Cart</h4>

                    </div>
                    <div class="lip-add" style="border: 1px solid #fff; position: absolute; height: 39px;width: 116px; left: 422px;
                    margin-top: 13px;
                    border-radius: 3px;
                    background-color: #4DD0E1">
                        <h4 style="text-align: center; padding-top: 7px;color: white;
                        font-weight: 800; color: #fff; cursor: pointer;">Book Now</h4>

                    </div>
                </div>
                <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                    <div class="imgs">
                        <img src="/img/patients/first1.jfif" style="height: 45px; width: 40px;">
                    </div>
                    <div class="imgs-heading" style="margin-left: 15px;">
                        <h4 style="font-weight: 800;"> Home sample collection for FREE</h4>
                        <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">A certified professional will collect your sample from a location of your preference.</p>
                    </div>
                </div>

                <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                    <div class="imgs">
                        <img src="/img/patients/e12.png" style="height: 45px; width: 40px;">
                    </div>
                    <div class="imgs-heading" style="margin-left: 15px;">
                        <h4 style="font-weight: 800;">
                            Digital reports</h4>
                        <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Access your reports anytime on your Practo account. We will email you a copy.</p>
                    </div>
                </div>
                <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                    <div class="imgs">
                        <img src="/img/patients/offer.jpg" style="height: 45px; width: 40px;">
                    </div>
                    <div class="imgs-heading" style="margin-left: 15px;">
                        <h4 style="font-weight: 800;">
                            Offers and affordable prices</h4>
                        <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Get great discounts and offers on tests and packages</p>
                    </div>
                </div>



            </div>


            <div class="col-md-2" style="height: 60%; margin-left:40px;border: 1px solid black;left: 28px position:relative;">
                <div class=" col-md-12 cart-added" style="position: absolute; top: 20px; border-bottom: 1px solid #BDBDBD; left: 1px;">
                    <h3 style="margin-left: 6px; font-weight: 700;">Your Cart</h3>
                </div>

                <div class="lipid-rs" style="display: inline-flex; position: absolute; top: 66px;">
                    <p style="margin-left: -9px;">Malarial Test
                    </p>
                    <p style="margin-left: 50px;"><span>₹ 400</span> <span style="margin-left:5px;"><i class="fa fa-times" aria-hidden="true"></i></span></p>

                </div>
                <div class="col-md-12 coupan" style="height: 50px; width: 100%; border: 1px dashed black; top: 100px; display: inline-flex;">
                    <div class="gift-image" style="height: 30px; width: 30px; margin-top: 9px;">
                        <img src="/img/patients/gift.png" style="height: 30px;">

                    </div>
                    <div class="apply" style="margin-left: 8px; margin-top: 13px;">
                        <h4 style="font-weight: 700;">Apply Coupan </h4>
                    </div>
                    <div style="">
                        <span style="right: 10px;position: absolute;margin-top: 11px; font-size: 21px;"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    </div>


                </div>
                <div style="display: inline-flex; top: 108px;position: relative;">
                    <p style="font-weight: 600;">Picking charges</p>
                    <p style="position: absolute;
                    right: -100px;">₹ 0</p>
                </div>
                <div style="position: absolute; top:182px;">
                    <p style="line-height: 17px;
                    font-size: 12px;">Free home sample collection for orders above ₹ 400</p>
                </div>
                <div class="col-md-10 price-total" style="position: absolute;background-color: #BDBDBD;height: 42px; right:20px;bottom: 88px; border-radius: 3px; display: inline-flex;">
                    <div class="col-md-2" style="justify-content: space-between; display: inline-flex;">
                        <h4 style="margin-left: -24px;
                        margin-top: 7px; font-weight: 700;">Total</h4>
                        <h4 style="margin-left: 110px;
                        margin-top: 10px; font-weight: 700;"><span style="margin-left: -5px;">₹</span><span style="margin-left: 5px;">400</span></h4>
                    </div>

                </div>
                <div class="col-md-10 price-total" style="position: absolute; cursor: pointer; background-color: green;height: 42px; right:20px;bottom: 25px; border-radius: 3px;">
                    <h4 style="text-align: center; margin-top: 10px; font-weight: 700; color: #fff;">Procced to Checkout</h4>

                </div>



            </div>

        </div>
        <div class="col-md-12 about-lipid" style="height: auto ">
            <div class="col-md-5" style="margin-left: auto; margin-right: auto;padding-left: 0px; height: 100%;">
                <div class="col-md-12 test-des" style="border-bottom: 1px solid; border-top: 1px solid; position: relative; padding-top: 14px;">
                    <div onclick="show(0)">
                        <h3><span>What is test?</span>
                            <span style="position: absolute; right: 26px;cursor: pointer;"><i class=" fa fa-angle-down " id="down"  aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone " id="up" aria-hidden="true "></i></span>
                        </h3>
                        <div class="displayNone" id="test">
                            <p>Malarial antigen PCR test is used to detect the presence of malarial antigen in the blood. This test helps in assessing the parasite load in blood. Based on the malarial parasite load in the blood, the treatment can be initiated.
                                This test also helps to assess the effectiveness of the therapy.</p>




                        </div>
                    </div>


                </div>
                <div class="col-md-12 test-prep " style="border-bottom: 1px solid rgb(141, 125, 125); position: relative; padding-top: 14px; ">
                    <div onclick="show(1)">
                        <h3><span> Test Preparation</span>
                            <span style="position: absolute; right: 26px;cursor: pointer; "><i class="fa fa-angle-down " id="down"  aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone" id="up"  aria-hidden="true "></i></span>
                        </h3>
                        <div class="displayNone" id="prep">
                            <p>
                                Inform your doctor if you are on any medications, have any allergies or underlying medical conditions before your Malarial Antigen PCR. Your doctor will give specific instructions depending on your condition on how to prepare for Malarial Antigen PCR.
                                There is no specific preparation for this test.</p>


                        </div>
                    </div>

                </div>
                <div class="col-md-12 test-result " style="border-bottom: 1px solid rgb(141, 125, 125); position: relative; padding-top: 14px; ">
                    <div onclick="show(2)">
                        <h3><span> Understanding of Test result</span>
                            <span style="position: absolute; right: 26px;cursor: pointer; "><i class="fa fa-angle-down " id="down" aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone " id="up" aria-hidden="true "></i></span>
                        </h3>
                        <div class="displayNone" id="result">
                            <p>
                                If your test results show positive then you may be infected with a malaria parasite. If your test results show negative then you may not be present with the malarial infection. If you get positive test results to consult your doctor with your lab reports.
                                Your doctor may recommend other tests depending on your test results.
                            </p>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>
    <section>
        <div>
            <div class="Header-checkup " style="margin-left: 83px; margin-top: 20px ">
                <h2 style="font-weight: 700; ">Popular Health Checkup Packages</h2>
            </div>
            <div class="second-heading " style="display: inline-flex; margin-left: 83px;margin-top: 12px; margin-bottom: 25px; ">
                <ul style="list-style: none; display: inline-flex;">
                    <a>
                        <li class="active-popular1" id="featured" data-count='1;' onclick="changeDiv(1);" style="border: 1px solid black;cursor:pointer; margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                            Featured Checkup</li>
                    </a>

                    <a>
                        <li class="active-popular" id="Diabetes" data-count='2;' onclick="changeDiv(2);" style="border: 1px solid black;cursor:pointer;margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                            Diabetes Care</li>
                    </a>
                    <a>
                        <li class="active-popular" id="women" data-count='3;' onclick="changeDiv(3);" style="border: 1px solid black;cursor:pointer;margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                            Women's Care</li>
                    </a>
                    <a>
                        <li class="active-popular" id="mens" data-count='4;' onclick="changeDiv(4);" style="border: 1px solid black;cursor:pointer; margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                            Men's Health</li>
                    </a>
                </ul>
            </div>
            <div class="doctor-slider slider ccdoctorslider" id="div1" style="padding-left: 90px; padding-right: 90px;">
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Comprehensive Health Checkup</h3>
                        <p class="para-p">ideals for individual aged for all Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>


                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Young Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 699
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>

                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 41-60 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">114 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 3399
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.></p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">100 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 1899
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                        <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doctor-slider slider ccdoctorslider displayNone" id="div2" style="padding-left: 90px; padding-right: 90px;">
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Comprehensive Health Checkup</h3>
                        <p class="para-p">ideals for individual aged for all Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>


                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Young Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 699
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>

                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 41-60 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">114 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 3399
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.></p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">100 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 1899
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                        <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doctor-slider slider ccdoctorslider displayNone" id="div3" style="padding-left: 90px; padding-right: 90px;">
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Comprehensive Health Checkup</h3>
                        <p class="para-p">ideals for individual aged for all Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>


                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Young Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 699
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>

                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 41-60 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">114 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 3399
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.></p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">100 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 1899
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                        <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doctor-slider slider ccdoctorslider displayNone" id="div4" style="padding-left: 90px; padding-right: 90px;">
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Comprehensive Health Checkup</h3>
                        <p class="para-p">ideals for individual aged for all Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>


                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 2999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Young Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 699
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>

                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 41-60 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">114 test Included</p>
                        </div>
                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 3399
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/health3.jfif" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured">Active Professional Health Checkup</h3>
                        <p class="para-p">ideals for individual aged 21-40 Years.></p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">100 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 899
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
                <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                    <div class="featured-img" style="height: 40%;">
                        <a href="/"><img src="/img/patients/health2.jpg" style="width: 100%;height: 100%;"></a>
                    </div>
                    <div class="featured-para" style="height: 20%;">
                        <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                        <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                    </div>
                    <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                        <div class="test-number">
                            <p class="included-test">60 test Included</p>
                        </div>

                    </div>
                    <div class="featured-last" style="height:25% ; position: relative;">
                        <span class="health-price">
                        ₹ 3999
                    </span>
                        <a class="health-book">
                            <span class="books-health">Book Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%-include('footer');%>
    <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->
    <script>
        function show(count) {
            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
            if (count == 1) {
                prep.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');
            }
            if (count == 2) {
                result.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
        }

        function hide(count) {


            var up = document.querySelectorAll("#up");
            var down = document.querySelectorAll("#down");
            var test = document.getElementById("test");
            var prep = document.getElementById("prep");
            var result = document.getElementById("result");

            if (count == 0) {
                test.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 1) {
                prep.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 2) {
                result.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');
            }



        }
    </script>
    <script>
        function changeDiv(count) {
            var div1 = document.getElementById('div1');
            var div2 = document.getElementById('div2');
            var div3 = document.getElementById('div3');
            var div4 = document.getElementById('div4');

            var featured = document.getElementById('featured');
            var diabetes = document.getElementById('Diabetes');
            var women = document.getElementById('women');
            var mens = document.getElementById('mens');


            if (count == 1) {
                div1.classList.remove('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.add('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');



            }
            if (count == 2) {
                div1.classList.add('displayNone');
                div2.classList.remove('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.add('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 3) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.remove('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.add('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 4) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.remove('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.add('active-popular1');

            }


        }
    </script>

    <!-- jQuery -->
    <script src="/js/jquery.min.js "></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>

    <!-- Slick JS -->
    <script src="/js/slick.js "></script>

    <!-- Custom JS -->
    <script src="/js/script1.js "></script>
    <script src="/js/script.js "></script>



</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->

</html>