<!DOCTYPE html>
<html lang="en">

<!-- doccure/  30 Nov 2019 04:11:34 GMT -->


<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
     
        <!-- /Header -->
        <section class="laptop-Pregnancy">
            <div class=" col-md-12 lip-search" style=" height: 100px; border-bottom: 1px solid black;">
                <div class="col-md-8" style="border: 1px solid black; height: 70px; margin-top: 35px;position: relative; display: inline-flex;">
                    <div class="col-md-4" style="height: 100%;">
                        <input type="text" placeholder="enter the city name" style="padding: 0.6rem;;">

                    </div>
                </div>
            </div>
            <div class="col-md-12 lipid profile" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 lipid-nav" style="display: inline-flex;top: 6px;
                    left: 38px;">
                            <p class="lip-dig underline-on-hover" style="cursor: pointer; "><a href="/" style="color: #b4b4be;">AarogyaHub</a></p>
                            <p><span><i class="fa fa-chevron-right"  style="padding-left: 6px; padding-top: 2px; color: #b4b4be;" aria-hidden="true"></i></span>
                                <span class=" lip-Dig underline-on-hover" style="cursor: pointer; "><a href="/" style="color: #b4b4be;">Diagonistics</a></span>
                            </p>
                            <p><span><i class="fa fa-chevron-right"  style="padding-left: 6px; padding-top: 2px; color: #b4b4be;" aria-hidden="true"></i></span>
                                <span style="color: #b4b4be;">Test</span>
                            </p>


                        </div>
                    </div>
                    <div class="col-md-12" style="height: 600px; display:inline-flex">
                        <div class="col-md-3" style=" height:35%; left: 20px;">
                            <a href="/"><img src="/img/patients/health2.jfif" style="width: 100%;height: 100%;"></a>

                        </div>
                        <div class="col-md-5" style="height: 100%; left: 20px">
                            <div class="lip-heading">
                                <h2>Pregnancy Test</h2>
                                <p>Also known as Pregnancy Test</p>
                            </div>
                            <div class="certi" style="display: inline-flex;">
                                <div class="certi-logo" style="margin-left: -4px;">
                                    <img src="/img/patients/certi2.png" style="height: 37px;">
                                </div>
                                <div class="certi-heading">
                                    <h4 style="font-weight: 800; margin-top: 0.6rem;; font-weight:600; margin-left: 6px;">Certified Labs</h4>
                                </div>
                            </div>
                            <div class="lip-sec" style="margin-left: -42px;">
                                <ul class="lip-ul" style="list-style:none">
                                    <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> <span style="line-height: 30px; margin-left:0.6rem;;">Free Home Sample Pickup
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:0.6rem;;"> E-Reports on next day
                            </span</li>
                            <li><span><i class="fa fa-check-circle" aria-hidden="true"></i></span><span style="line-height: 30px; margin-left:0.6rem;;"> 100% Secured with Accuracy
                            </span</li>                    
                        </ul>
                    </div>
                    <div class=" col-md-12 lip-block" style="height: 60px;position: relative; display: inline-flex; border-top: 1px solid black; border-bottom: 1px solid black;">
                        <div class="lips-price" style="margin-left: -7px;" >
                            <h3 style="margin-top: 13px;margin-left: 0px;">₹ 400</h3>
                            <p style="margin-top:-12px; margin-left:-2px"><span style="margin-left: 2px; color: #558B2F">+</span><span style="color: #558B2F">10% Health Cashback*</span> </p>
                            </div>
                            <div class="lip-add" style="border: 1px solid black; height: 39px;width: 109px;left: 303px;
                    margin-top: 13px;
                    border-radius: 3px;position: absolute;">
                                <h4 style="text-align: center; padding-top: 7px;">Add Cart</h4>

                            </div>
                            <div class="lip-add" style="border: 1px solid #fff; position: absolute; height: 39px;width: 116px; left: 422px;
                    margin-top: 13px;
                    border-radius: 3px;
                    background-color: #4DD0E1">
                                <h4 style="text-align: center; padding-top: 7px;color: white;
                        font-weight: 800; color: #fff; cursor: pointer;">Book Now</h4>

                            </div>
                        </div>
                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="/img/patients/first1.jfif" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;"> Home sample collection for FREE</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">A certified professional will collect your sample from a location of your preference.</p>
                            </div>
                        </div>

                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="/img/patients/e12.png" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;">
                                    Digital reports</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Access your reports anytime on your Practo account. We will email you a copy.</p>
                            </div>
                        </div>
                        <div class="col-md-12 first-img" style="margin-top: 20px; display: inline-flex;">
                            <div class="imgs">
                                <img src="/img/patients/offer.jpg" style="height: 45px; width: 40px;">
                            </div>
                            <div class="imgs-heading" style="margin-left: 15px;">
                                <h4 style="font-weight: 800;">
                                    Offers and affordable prices</h4>
                                <p style="font-weight: 400;line-height: 17px;
                        margin-top: -6px;">Get great discounts and offers on tests and packages</p>
                            </div>
                        </div>



                    </div>


                    <div class="col-md-2" style="height: 60%; margin-left:40px;border: 1px solid black;left: 28px position:relative;">
                        <div class=" col-md-12 cart-added" style="position: absolute; top: 20px; border-bottom: 1px solid #BDBDBD; left: 1px;">
                            <h3 style="margin-left: 6px; font-weight: 700;">Your Cart</h3>
                        </div>

                        <div class="lipid-rs" style="display: inline-flex; position: absolute; top: 66px;">
                            <p style="margin-left: -9px;"> Pregnancy Test
                            </p>
                            <p style="margin-left: 70px;"><span>₹ 400</span> <span style="margin-left:5px;"><i class="fa fa-times" aria-hidden="true"></i></span></p>

                        </div>
                        <div class="col-md-12 coupan" style="height: 70px; width: 100%; border: 1px dashed black; top: 100px; display: inline-flex;">
                            <div class="gift-image" style="height: 30px; width: 30px; margin-top: 9px;">
                                <img src="/img/patients/gift.png" style="height: 30px;">

                            </div>
                            <div class="apply" style="margin-left: 8px; margin-top: 13px;">
                                <h4 style="font-weight: 700;">Apply Coupan </h4>
                            </div>
                            <div style="">
                                <span style="right: 0.6rem;;position: absolute;margin-top: 0.6rem;; font-weight:600; font-size: 21px;"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                            </div>


                        </div>
                        <div style="display: inline-flex; top: 108px;position: relative;">
                            <p style="font-weight: 600;">Picking charges</p>
                            <p style="position: absolute;
                    right: -100px;">₹ 0</p>
                        </div>
                        <div style="position: absolute; top:182px;">
                            <p style="line-height: 17px;
                    font-size: 12px;">Free home sample collection for orders above ₹ 400</p>
                        </div>
                        <div class="col-md-10 price-total" style="position: absolute;background-color: #BDBDBD;height: 42px; right:20px;bottom: 88px; border-radius: 3px; display: inline-flex;">
                            <div class="col-md-2" style="justify-content: space-between; display: inline-flex;">
                                <h4 style="margin-left: -24px;
                        margin-top: 7px; font-weight: 700;">Total</h4>
                                <h4 style="margin-left: 10.6rem;;
                        margin-top: 0.6rem;; font-weight: 700;"><span style="margin-left: -5px;">₹</span><span style="margin-left: 5px;">400</span></h4>
                            </div>

                        </div>
                        <div class="col-md-10 price-total" style="position: absolute; cursor: pointer; background-color: green;height: 42px; right:20px;bottom: 25px; border-radius: 3px;">
                            <h4 style="text-align: center; margin-top: 0.6rem;; font-weight: 700; color: #fff;">Procced to Checkout</h4>

                        </div>



                    </div>

                </div>
                <div class="col-md-12 about-lipid" style="height: auto ">
                    <div class="col-md-5" style="margin-left: auto; margin-right: auto;padding-left: 0px; height: 100%;">
                        <div class="col-md-12 test-des" style="border-bottom: 1px solid; border-top: 1px solid; position: relative; padding-top: 0.875rem;">
                            <div onclick="show(0)">
                                <h3><span>What is test?</span>
                                    <span style="position: absolute; right: 26px;cursor: pointer;"><i class=" fa fa-angle-down " id="down"  aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone " id="up" aria-hidden="true "></i></span>
                                </h3>
                                <div class="displayNone" id="test">
                                    <p>Pregnancy tests check your pee or blood for a hormone called human chorionic gonadotropin (hCG). Your body makes this hormone after a fertilized egg attaches to the wall of your uterus. This usually happens about 6
                                        days after fertilization. Levels of hCG rise quickly, doubling every 2 to 3 days.

                                    </p>

                                    <h4>Test parameters:</h4>
                                    <p>
                                        A pregnancy test is done using blood or urine. There are 2 types of blood tests: Qualitative, which measures whether the HCG hormone is present Quantitative, which measures how much HCG is present The blood test is done by drawing a single tube of blood
                                        and sending it to a laboratory. You may wait anywhere from a few hours to more than a day to get the results. The urine HCG test is most often performed by placing a drop of urine on a prepared chemical strip. It
                                        takes 1 to 2 minutes for a result. For the urine test, you urinate into a cup. For the blood test, the health care provider uses a needle and syringe to draw blood from your vein into a tube. Any discomfort you
                                        might feel from the blood draw will only last a few seconds.


                                    </p>


                                </div>
                            </div>


                        </div>
                        <div class="col-md-12 test-prep " style="border-bottom: 1px solid rgb(141, 125, 125); position: relative; padding-top: 0.875rem; ">
                            <div onclick="show(1)">
                                <h3><span> Test Preparation</span>
                                    <span style="position: absolute; right: 26px;cursor: pointer; "><i class="fa fa-angle-down " id="down"  aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone" id="up"  aria-hidden="true "></i></span>
                                </h3>
                                <div class="displayNone" id="prep">
                                    <p>
                                        Inform your doctor if you are on any medications, have any allergies or underlying medical conditions before your Beta HCG. Your doctor will give specific instructions depending on your condition on how to prepare for Beta HCG.</p>


                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 test-result " style="border-bottom: 1px solid rgb(141, 125, 125); position: relative; padding-top: 0.875rem; ">
                            <div onclick="show(2)">
                                <h3><span> Understanding of Test result</span>
                                    <span style="position: absolute; right: 26px;cursor: pointer; "><i class="fa fa-angle-down " id="down" aria-hidden="true "></i>
                            <i class="fa fa-angle-up displayNone " id="up" aria-hidden="true "></i></span>
                                </h3>
                                <div class="displayNone" id="result">
                                    <p>
                                        Results may show up as a line, a color, or a symbol such as a "+" or "-" sign. Digital tests show the words "pregnant" or "not pregnant." It's important to know what a positive or negative result means. If you get a positive result, you’re pregnant. This
                                        is true no matter how faint the line, color, or sign is. If you get a positive result, you may want to call your doctor to talk about what comes next. In very rare cases, you can have a false-positive result. This
                                        means you're not pregnant but the test says you are. You could have a false-positive result if you have blood or protein in your pee. Certain drugs, such as tranquilizers, anticonvulsants, hypnotics, and fertility
                                        drugs, could cause false-positive results. If you get a negative result, you’re probably not pregnant. But you may be pregnant if: The test is past its expiration date. You took the test the wrong way. You tested
                                        too soon. Your pee is too diluted because you drank a lot of fluids right before the test. You’re taking certain medications, such as diuretics or antihistamines. If you get a negative result, try retesting within
                                        about a week to double-check. Some home pregnancy tests suggest doing this no matter what your first results are. If you take the test twice and get different results, call your doctor. A blood test is a good idea
                                        to confirm results. If you have any other questions about the pregnancy test or the results, call your doctor or the telephone number listed with the test.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            <section>
                <div>
                    <div class="Header-checkup " style="margin-left: 83px; margin-top: 20px ">
                        <h2 style="font-weight: 700; ">Popular Health Checkup Packages</h2>
                    </div>
                    <div class="second-heading " style="display: inline-flex; margin-left: 83px;margin-top: 12px; margin-bottom: 25px; ">
                        <ul style="list-style: none; display: inline-flex;">
                            <a>
                                <li class="active-popular1" id="featured" data-count='1;' onclick="changeDiv(1);" style="border: 1px solid black;cursor:pointer; margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                                    Featured Checkup</li>
                            </a>

                            <a>
                                <li class="active-popular" id="Diabetes" data-count='2;' onclick="changeDiv(2);" style="border: 1px solid black;cursor:pointer;margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                                    Diabetes Care</li>
                            </a>
                            <a>
                                <li class="active-popular" id="women" data-count='3;' onclick="changeDiv(3);" style="border: 1px solid black;cursor:pointer;margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                                    Women's Care</li>
                            </a>
                            <a>
                                <li class="active-popular" id="mens" data-count='4;' onclick="changeDiv(4);" style="border: 1px solid black;cursor:pointer; margin-right: 24px; border-radius: 30px; padding-left: 25px; padding-right: 25px; padding-top: 7px; ">
                                    Men's Health</li>
                            </a>
                        </ul>
                    </div>
                    <div class="doctor-slider slider ccdoctorslider" id="div1" style="padding-left: 90px; padding-right: 90px;">
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Comprehensive Health Checkup</h3>
                                <p class="para-p">ideals for individual aged for all Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>


                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Young Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 699
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>

                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 41-60 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">114 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 3399
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.></p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">100 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 1899
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                                <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="doctor-slider slider ccdoctorslider displayNone" id="div2" style="padding-left: 90px; padding-right: 90px;">
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Comprehensive Health Checkup</h3>
                                <p class="para-p">ideals for individual aged for all Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>


                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Young Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 699
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>

                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 41-60 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">114 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 3399
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.></p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">100 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 1899
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                                <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="doctor-slider slider ccdoctorslider displayNone" id="div3" style="padding-left: 90px; padding-right: 90px;">
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Comprehensive Health Checkup</h3>
                                <p class="para-p">ideals for individual aged for all Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>


                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Young Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 699
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>

                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 41-60 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">114 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 3399
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.></p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">100 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 1899
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/old.jpg" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                                <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="doctor-slider slider ccdoctorslider displayNone" id="div4" style="padding-left: 90px; padding-right: 90px;">
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Comprehensive Health Checkup</h3>
                                <p class="para-p">ideals for individual aged for all Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>


                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 2999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Young Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 699
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>

                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/look1.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 41-60 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">114 test Included</p>
                                </div>
                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 3399
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/health3.jfif" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured">Active Professional Health Checkup</h3>
                                <p class="para-p">ideals for individual aged 21-40 Years.></p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">100 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 899
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                        <div class="feautred-div" style="border: 1px solid #0000001f;border-top-left-radius: 9px;
            border-top-right-radius: 9px;">
                            <div class="featured-img" style="height: 40%;">
                                <a href="/"><img src="/img/patients/health2.jpg" style="width: 100%;height: 100%;"></a>
                            </div>
                            <div class="featured-para" style="height: 20%;">
                                <h3 class="para-featured"> Health Old Citizen Checkup</h3>
                                <p class="para-p">ideals for individual aged for 40-100 Years.</p>
                            </div>
                            <div class="featured-paraTest" style="height:15% ;margin-bottom: 26px;margin-top: 27px;">
                                <div class="test-number">
                                    <p class="included-test">60 test Included</p>
                                </div>

                            </div>
                            <div class="featured-last" style="height:25% ; position: relative;">
                                <span class="health-price">
                        ₹ 3999
                    </span>
                                <a class="health-book">
                                    <span class="books-health">Book Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="mobile-Pregnancy position-relative">

            <div class=" Pregnancy" style="height: 200px; margin-top:3px;background-size: cover; position: relative; margin-bottom: 31px;background-image:linear-gradient(transparent,95%,white) ,url('/img/patients/p1.jpg');">

                <div class="pric-health" style="    
                margin-top: -3px;
                margin-left: -17px;
                font-family: unset;
                font-weight: 700;
                height: 23px;
                width: 61px;
                position: absolute;
                left: 0.875rem;
                border-radius: 5px;
                bottom: -15px;
                left: 28px;
                ">
                    <p class="price-healths" style="color:grey;text-decoration: line-through;"> ₹ 1999</p>
                </div>
                <div class="pric-health" style="    
                margin-top: -3px;
                margin-left: -17px;
                font-family: unset;
                font-weight: 700;
                height: 23px;
                width: 61px;
                position: absolute;
                left: 0.875rem;
                border-radius: 5px;
                bottom: -15px;
                left: 91px;
                background-color: #B94085;">
                    <p class="price-healths"> ₹ 1599</p>
                </div>

            </div>
            <div class="Pregnancy" style="margin-bottom: 17px;">
                <h3 style="margin-left: 8px;
                font-weight: 700;">Pregnancy Test</h3>
            </div>
            <div class="col-sm-12 test-type" style="display: inline-flex;">
                <div class="col-sm-4" style="display:inline-flex">
                    <div class="col-sm-2" style="height: 54px;
                    width: 54px; border-radius: 7px; background-image: url('/img/patients/p3.png'); background-size: cover; background-color:#a93e65;">

                    </div>
                    <div class="col-sm-1" style="width: 117px; margin-left: -4px;">
                        <p style="line-height: 17px;"><span style="font-weight: 800;
                            font-size: 19px;
                            margin-left: 1px;">1</span><span style="margin-left: 3px;">Test Included</span></p>
                    </div>

                </div>
                <div class="col-sm-4" style="display:inline-flex; margin-left: -70px;">
                    <div class="col-sm-2" style="height: 54px;
                    width: 54px; border-radius: 7px; background-image: url('/img/patients/p5.jpg'); background-size: cover; background-color:#a93e65;">

                    </div>
                    <div class="col-sm-1" style="width: 100px;">
                        <p style="line-height: 17px;"><span style="font-weight: 800;
                            font-size: 19px;
                            margin-left: 1px;">100+</span><span style="margin-left: 3px;">Booked in 10 Last Days </span></p>
                    </div>

                </div>


            </div>
            <div style="margin-left: 3px; margin-top: 12px;">
                <h3 style="font-weight: 600; margin-left: 7px;"> This package covers</h3>
                <ul style="font-family: system-ui;
                font-weight: 500;">
                    <li>Measurment:HCG Hormone Levels</li>
                    <li>Tests for signs of pregnancy</li>
                </ul>
            </div>

            <div style="background-color: #EEEEEE;">
                <div class="col-sm-12">
                    <h3 style="text-align: center;
                    padding-top: 15px;
                    font-size: 1.125rem;
                ">Why should you choose this Package?</h3>
                </div>
                <div class="col-sm-12" style="display: inline-flex; height: 200px;margin-top: 15px;">
                    <div class="col-sm-6">
                        <img src="/img/patients/p9.png" style="height: 70px; width: 70px; border-radius: 0.6rem;;">
                        <p style="font-size: 0.875rem;
                        margin-top: 8px;">if your a female above 18 years of age.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/img/patients/p7.jpg" style="height:70px; width:70px; border-radius: 0.6rem;;">
                        <p style="font-size: 0.875rem;
                        margin-top: 8px;"> if you are showing signs of pregnancy-missed periods,morning sickness.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-sm-12 last" style="border: 1px solid #BDBDBD;
                margin-bottom: 8px;
                border-radius: 0.6rem;;
                margin-top: 16px;">
                    <div style="display: inline-flex;margin-top: 18px;height: auto;">
                        <div class=" col-sm-4 ">
                            <img src="/img/patients/l3.png " style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                            <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Sample Pickup at home</p>
                        </div>
                        <div class="col-sm-4 ">
                            <img src="/img/patients/l1.jpg " style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                            <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Online reports in 24-48 hours</p>
                        </div>
                        <div class="col-sm-4 ">
                            <img src="/img/patients/l2.png " style="height: 43px; border-radius: 0.6rem;; width:42px;margin-left: 13px; ">
                            <p style="font-size: 0.6rem;; font-weight:600;text-align: center;">Reports analysis by top doctors</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 text-center position-sticky" style="bottom:0px">
                <a class="btn" style="text-align: center;padding: 8px;background-color: #FF5722;margin-top: 18px; border-radius:27px;color:white;margin-bottom: 20px;width:186px; ">
                   Book Now
                </a>

            </div>




        </section>

        <!-- Footer -->
        <%-include('footer');%>
        <!-- /Footer -->

    </div>

    <!-- /Main Wrapper -->
    <script>
        function show(count) {
            var up = document.querySelectorAll("#up ");
            var down = document.querySelectorAll("#down ");
            var test = document.getElementById("test ");
            var prep = document.getElementById("prep ");
            var result = document.getElementById("result ");

            if (count == 0) {
                test.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
            if (count == 1) {
                prep.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');
            }
            if (count == 2) {
                result.classList.toggle('displayNone');
                down[count].classList.toggle('displayNone');
                up[count].classList.toggle('displayNone');

            }
        }

        function hide(count) {


            var up = document.querySelectorAll("#up ");
            var down = document.querySelectorAll("#down ");
            var test = document.getElementById("test ");
            var prep = document.getElementById("prep ");
            var result = document.getElementById("result ");

            if (count == 0) {
                test.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 1) {
                prep.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');

            }
            if (count == 2) {
                result.classList.add('displayNone');
                up[count].classList.add('displayNone');
                down[count].classList.remove('displayNone');
            }



        }
    </script>
    <script>
        function changeDiv(count) {
            var div1 = document.getElementById('div1');
            var div2 = document.getElementById('div2');
            var div3 = document.getElementById('div3');
            var div4 = document.getElementById('div4');

            var featured = document.getElementById('featured');
            var diabetes = document.getElementById('Diabetes');
            var women = document.getElementById('women');
            var mens = document.getElementById('mens');


            if (count == 1) {
                div1.classList.remove('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.add('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');



            }
            if (count == 2) {
                div1.classList.add('displayNone');
                div2.classList.remove('displayNone');
                div3.classList.add('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.add('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 3) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.remove('displayNone');
                div4.classList.add('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.add('active-popular1');
                mens.classList.remove('active-popular1');


            }
            if (count == 4) {
                div1.classList.add('displayNone');
                div2.classList.add('displayNone');
                div3.classList.add('displayNone');
                div4.classList.remove('displayNone');
                featured.classList.remove('active-popular1');
                diabetes.classList.remove('active-popular1');
                women.classList.remove('active-popular1');
                mens.classList.add('active-popular1');

            }


        }
    </script>

 



</body>

<!-- doccure/  30 Nov 2019 04:11:53 GMT -->

</html>