<!DOCTYPE html>
<html lang="en">

<!-- AarogyaHub/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

<head>
  
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->

        <!-- /Header -->

        <!-- Breadcrumb -->

        <!-- /Breadcrumb -->

        <!-- Page Content -->
        <div class="col-md-12 col-lg-12 col-xl-12 setting-bread pzero" style="margin-left:-15px;border-left: 0.5px solid lighgrey;margin-top: 20px;">
            <div class="card" style="border-radius: 0;border:0;">
                <div class="card-body" style="padding:0rem;">
                    <div class="row position-relative pzero">
                        <div class="col-md-12" style="height: 40px;background-color: rgb(248, 248, 248);">
                            <p style="margin-top: 10px;margin-left: 150px;font-weight: bold;">Step 3/3</p>
                        </div>
                        <div class="row justify-content-between">
                           
                        <div class="col-md-10 col-lg-10 m-13" style="margin-left: 150px;margin-top: 30px;">
                            <form action="/user/accept-agreement" method="POST">

                                <h2 style="font-size: 1.5rem;margin-top: 20px;font-weight: 700;">Terms And Condition</h2>

                                <div class="bg_color_1">

                                    <div class="container mt-5">

                                        <div class="main_title">
                                            <h1>Agreement of Online Booking Services</h1>
                                            <p>Scheduling automation you and your invitees will actually enjoy. </p>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col-lg-12">
                            
                                                <h6 class="add_bottom_15">Provision of the Services by AAROGYAHUB.</h6>
                                                <p>Your use of the Services is at your sole risk. The Services are provided on an "as is" and "as available" basis.</p><br>
                                                <p>AAROGYAHUB reserves the right (but has no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all content or user-account from any of the Services / Features at AAROGYAHUB’s sole discretion. 
                                You understand that by using the Services/ features YOU may be exposed to content that YOU may find offensive, indecent or objectionable and that, in this respect, YOU use the Services/ features  at your own risk.</p><br>
                                                <p>AAROGYAHUB doesn't warrant that,</p>
                                                <ul class="bullets">
                                                  <li> Services will meet your requirements or expectations.</li>
                                                  <li>Services will be delivered uninterrupted, timely, secure, or error-free.</li>
                                                  <li>Results that may be obtained from the use of the Services will be accurate or reliable based on listings. </li>
                                                  <li>Any errors in the Services will be corrected.</li>
                                                </ul><br><br>
                                                <p>You understand and agree that, AAROGYAHUB shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to any loss of profit, loss of goodwill, loss of business reputation, loss of data, or other intangible loss, resulting from: </p>
                                                <ul class="bullets">
                                                      <li> the use or the inability to use the Services; </li>
                                                      <li>any changes which AAROGYAHUB may make to the Services / Features, or any permanent or temporary cessation in the provision of the Services / Listings / Features;</li>
                                                      <li> unauthorized access to or alteration of your infos or data;  </li>
                                                      <li>the deletion of, corruption of, or failure to store, any content and other communications data/ info maintained or transmitted by or through the use of the Services/ features; (v) or any other matter relating to the Services/listings/features.</li>
                                                </ul>
                                                 <p>
                                         Technical support from AAROGYAHUB is provided on a best-effort basis and only by e-mail.<br><br>You understand that AAROGYAHUB can use third parties (e.g., Cloud hosting partners) to provide the necessary resources (e.g., hardware, software, networking, Cloud services, etc.) to run the Services.<br><br>AAROGYAHUB may stop, remove, modify, or add (permanently or temporarily) Services (or features within Services) at AAROGYAHUB’s sole discretion. <br><br>
                        Any new, changed, or removed features are subject to the Terms of Service. Continued use of the Services after any such changes constitute <strong>YOUR consent</strong> to the changes.                 
                                        Use of the Services/ FEATURES by YOU.<br>For certain services/ Features, AAROGYAHUB may offer or require YOU to <strong>register</strong> for a user-account. You ensure that all registration information YOU provide will always be valid, correct, and up-to-date. <br>YOU are responsible for maintaining the security of your user-account and password / Log-in credentials. 
                        User-accounts registered by bots or other automated methods are not permitted.
                                        
                                        <br>For certain services, AAROGYAHUB may offer to upload your personal profile photo. You are responsible to NOT upload an abusive photo, to not infringe on any copyrights or trademarks, and to not use a design which other AAROGYAHUB users may deem offensive / objectionable.
                        
                                        <br>For certain services / features, AAROGYAHUB may offer to define a personal URL (web address). YOU understand that AAROGYAHUB can rename or reject your personal URL, e.g., if you intentionally or unintentionally interfere with other registered users or because your personal URL is deemed offensive.
                                        <br>You agree that YOU will not impersonate another person.
                                        <br>YOU agree that you will not engage in any activity that interferes with or disrupts the Services / features (or the servers and networks which are connected to the Services).
                                        <br>You agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services / features for any purpose without the express written permission by AAROGYAHUB.
                                        <br>You agree that YOU are solely responsible for (and that AAROGYAHUB has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Service and for the consequences (including any loss or damage which AAROGYAHUB may suffer) of any such breach.
                                        <br><br>Modifications to the Prices / subscription fees
                                        <br><br>Prices / subscription fess, of all Services / features  are <strong>subject to change</strong>. If they change / applicable, the changes do not affect running subscriptions but will take effect only for any subsequent subscription period you choose to purchase/ subscribe.
                                        <br>AAROGYAHUB is not liable to you or to any third party for any price / SUBSCRIPTION FEES change.
                                        <br><br>**On Every appointment made through AAROGYAHUB there will be a 5% charges deducted as a interest and rest amount will be redirected to your account.
                                        <br>
                                        
                                        </p>
                                        <input type="checkbox" checked onchange="document.getElementById('sendNewSms').disabled = !this.checked;" class="mt-5 mr-2"><b>I Dr.<%=locals.user.name%>  have read and agree to the terms of the AAROGYAHUB Online Booking Agreement.</b></br>
                                        <!-- <form action="/user/accept-agreement" method="POST"> -->
                                            <div class="submit-section submit-btn-bottom" style="margin-top: 5px;display: inline-flex;height: 40px;">
                                                <a href="/fees" id="submit_button" class="btn btn-primary submit-btn position-absolute" style="color:white;border-radius: 5px;width: 100px;left:8%;bottom:0%;">Back</a>
                                            </div>
                                            <div class="submit-section text-center" style="margin-bottom: 100px; margin-top: 15px;display: inline-flex;">
                                             
                                                
                                            
                                                    <input type="submit" id="sendNewSms" value="Next" class="btn btn-primary submit-btn w-25 position-absolute" style="border-radius: 5px;right: 8%;bottom:0%;">
                                                  
                                                <input type="hidden" name="checked" value="true">
                                            </div>
                                        </div>



                                        </div>
                                        <!--/row-->

                                    </div>
                                    <!--/container-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Page Content -->

        <!-- Footer -->
        <%-include('footer');%>
            <!-- /Footer -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->

    <script>
        <%if(flash.success && flash.success.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 1500
        }).show();
        <%}%>
        <%if(flash.error && flash.error.length>0){%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 3000
        }).show();
        <%}%>
    </script>

</body>

<!-- AarogyaHub/doctor-change-password  30 Nov 2019 04:12:36 GMT -->

</html>